src/main/mule/error.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="errorFlow" doc:id="7e2a0ac3-ecab-447f-8532-330f1147515e" >
		<scheduler doc:name="Scheduler" doc:id="4dacd9f1-5993-4470-9874-0f4ebc532086" >
			<scheduling-strategy >
				<fixed-frequency />
			</scheduling-strategy>
		</scheduler>
		<set-payload value="#[payload]" doc:name="Set Payload" doc:id="d1c04b95-1e24-4982-868a-ce028ac7cbae" />
		<logger level="INFO" doc:name="Logger" doc:id="4d7d4762-3fd8-454d-b158-6426c425e5bb" message='Result: #["INFO" ++  payload]'/>
	</flow>
</mule>
